:root {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@import './node_modules/aos/dist/aos.css';
@import './node_modules/@fortawesome/fontawesome-free/css/all.css';
@import './styles/glass.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background-color: rgb(10, 10, 10);
}

nav a {
  filter: grayscale(100%) opacity(0.7);
}

nav a:hover {
  filter: grayscale(0%) opacity(1);
  background-color: #141418;
}
