footer {
  height: 300vh;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-30vw);
  }
  to {
    transform: translateX(0);
  }
}

#left-bracket {
  animation: slideFromLeft 1s linear 1;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-fill-mode: both;
}
