@mixin translateInDirection($direction, $amount) {
  @if $direction == left {
    transform: translateX(-$amount);
  } @else {
    transform: translateX($amount);
  }
}

@mixin slideAnimation($direction) {
  @keyframes slideIn-#{$direction} {
    0% {
      @include translateInDirection($direction, 80vw);
      opacity: 0;
    }
    10% {
      @include translateInDirection($direction, 80vw);
      opacity: 0;
    }
    30% {
      @include translateInDirection($direction, 60vw);
      opacity: 1;
    }
    100% {
      @include translateInDirection($direction, 0);
      opacity: 1;
    }
  }
}

@mixin slideInClass($direction) {
  @include slideAnimation($direction);

  .slideIn-#{$direction} {
    animation: slideIn-#{$direction} 1000ms ease-in-out 0s 1;
  }
}
@include slideInClass(left);

@include slideInClass(right);
